<h1>About</h1>
<h2>About Company Info</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab debitis maiores similique explicabo ipsum dolore dicta
   fuga tempore cupiditate atque, hic commodi perferendis repellendus eaque nisi quaerat vel reiciendis nam.</p>

   @await Html.PartialAsync("_ListPartialView")