<h1>Home</h1>
@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Countries";
    listModel.ListItems = new List<string>()
        {
            "USA",
            "Canada",
            "Japan",
            "India"
        };
}
<partial name="_ListPartialView" model="listModel"></partial>
