<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>

        <div class="container">
            <div class="header">ASP.NET core demo app</div>
        </div>
        <div>
            @RenderBody()
        </div>
    
</body>
</html>