<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="flex full-size-height">
        <div class="flex-1 grey-black">SideBar</div>
        <div class="flex-3 white-black">
            @RenderBody()
        </div>
    </div>
</body>
</html>