@model Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/StyleSheet.css">

</head>
<body>
    <div class="page-content">
         <h1>Person Details</h1>
         <div class="box w-50">
            <h3>@Model.Name</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.Persongender</td>
                    </tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td>@Model.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/home">Back to persons</a>
        </div>
</body>
</html>