@using ViewExample.Models
@{
    string appTitle = "ASP .Net Core Application";
    Person person = new Person()
            {
                Name = "Nehan",
                DateOfBirth = null,
                Persongender = Gender.Male
            };
    //Convert.ToDateTime("2004-11-26")
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@appTitle</title>
</head>

<body>
    <h1>Welcome</h1>
    <h2>Hello @person.Name</h2>
    @if (person.DateOfBirth.HasValue)
    {
        double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
        <h3>@age</h3>

    }
    else
    {
        <h3>Date of birth is unknown</h3>
    }

    @switch (person.Persongender)
    {
        case Gender.Male:
            <p>Nov 19 is International Men's Day</p>
            ;
            break;

        case Gender.Female:
            <p>Mar 8 is International Female's Day</p>
            ;
            break;

        case Gender.Other:
            <p>Mar 31 is International Transgender's Day</p>
            ;
            break;
    }

</body>

</html>