@using ViewExample.Models
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["appTitle"]</title>
    <link rel="stylesheet" href="~/StyleSheet.css">
</head>
<body>
    <div class="page-content">
         <h1>Welcome</h1>
    @{
        List<Person>? people = (List<Person>)ViewData["people"];
    }
    @foreach(Person person in  people)
    {
        <div class="box float-left w-50">
            <h3>@person.Name</h3>
            <table class="table w-100">
                <tbody>
                    <tr>
                        <td>Gender</td>
                        <td>@person.Persongender</td>
                    </tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
    </div>
   

</body>

</html>