@model PersonAndProductWrapperModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person With Product</title>
    <link rel="stylesheet" href="~/StyleSheet.css">

</head>
<body>
    <div class="page-content">
        <h1>
            Person and Product
        </h1>

        <div class="box w-100">
            <h3>Person</h3>
            <table class="table w-100">
                <tbody>
                    <tr>
                        <td>Person Name</td>
                        <td>@Model.PersonData.Name</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.PersonData.Persongender</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="box w-100">
            <h3>Product</h3>
            <table class="table w-100">
                <tbody>
                    <tr>
                        <td>Product Id</td>
                        <td>@Model.ProductData.ProductId</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>@Model.ProductData.ProductName</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
    </div>
</body>
</html>