@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ea impedit iure, quo commodi ducimus ex asperiores deleniti tempore rerum sapiente incidunt doloremque, eveniet voluptatem! Sequi asperiores nisi assumenda magnam!
Maiores minima ut eveniet quae facere nesciunt assumenda illum, odit fugit hic modi, dolor ipsam. Voluptatem pariatur veniam minus nulla, tempora repudiandae, excepturi delectus dignissimos optio, officia quos maiores temporibus?
Similique necessitatibus nobis perspiciatis! Necessitatibus consequatur quas obcaecati expedita dignissimos nemo porro ullam, eum, consequuntur nulla vero esse, ratione ipsam autem perspiciatis minima aperiam numquam perferendis. Facere, illo. Est, quibusdam.
Dignissimos dolor dolorum quia blanditiis sequi, hic neque impedit ratione consequuntur voluptatibus? Blanditiis in voluptas quas repellat consectetur? Aspernatur deserunt numquam quia, excepturi doloribus harum aliquam magni molestiae assumenda modi.
Suscipit provident odio soluta eveniet. Optio tempore aut reiciendis soluta repudiandae pariatur dicta porro id natus, voluptatem eligendi nisi doloribus obcaecati suscipit iure error molestias. Maxime maiores similique incidunt beatae?
Officia temporibus obcaecati itaque ut ea optio. Repellendus magni ipsa aperiam voluptates sunt aspernatur suscipit expedita. Ducimus, eveniet? Tempore voluptates sit eos error earum officiis ratione cum impedit rem labore.
Ut culpa adipisci dignissimos id animi, necessitatibus vero? Dignissimos blanditiis corporis voluptatum eveniet, cumque nobis ut deserunt illo inventore eos consectetur ipsum facilis quisquam aliquam ipsa, vero cum incidunt. Eius?</p>

@{
    PersonGridModel personGridModel = new PersonGridModel()
            {
                GridTitle = "Employee List",
                Persons = new List<Person>(){
                new Person() { PersonName = "Dhruvii", JobTitle = "Manager" },
                new Person() { PersonName = "Aastha", JobTitle = "Developer" },
                new Person() { PersonName = "Hemanshi", JobTitle = "ProductManager" },

                }
            };

}

<vc:grid grid="personGridModel"></vc:grid>
