<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/StyleSheet.css">
    <title>Configuration Demo</title>
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <div class="box">
            <div>@ViewBag.ClientId</div>
            <div>@ViewBag.ClientSecret</div>
        </div>
    </div>
</body>
</html>