@{
    if(ViewBag.ProductId != null){

    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
    ViewData["Title"] = "Search Products";

}
<h1>Search Products</h1>
<p>search details here</p>